In [1]:
class Employee():#creating the class
    pass

In [3]:
emp1=Employee() # creating an instance of class
emp2=Employee()

In [4]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001F55636D150>
<__main__.Employee object at 0x000001F5557940D0>

In [5]:
# instance variables

emp1.first='Neeraj'
emp2.last='Deshmukh'
emp2.salary=51000

emp2.first='Natasha'
emp2.last='Negi'
emp2.salary=52000

In [6]:
print(emp1.first)

Neeraj

In [7]:
print(emp2.salary)

52000

In [19]:
class Employee():
    
 def __init__ (self,first,last,salary):
    self.first=first
    self.last=last
    self.salary=salary

 def show(self):
         print(emp1.first+' '+'ok')

In [14]:
emp1=Employee('raj','sharma',48000)

In [17]:
print(emp1.first)

raj

In [18]:
emp2=Employee('ajay','patil',49000)

In [20]:
emp2.show()

TypeError: Employee.show() takes 0 positional arguments but 1 was given

In [21]:
# Encapsulation

In [32]:
class Employee():
    def __init__ (self,first,last,salary): # init method
        self.first=first
        self.last=last
        self.salary=salary # private library

    def show(self):
       print (self.salary+' '+'ok')

In [29]:
print(emp1.first)

raj

In [30]:
print(emp1.last)

sharma

In [31]:
print(emp1.salary)

48000

In [33]:
# inheritance

In [39]:
class emp2(employee1):
    pass #remaining

NameError: name 'employee1' is not defined

In [41]:
'''
create a class called person
attributes=>name,age,city,..(make use of defult parameters also)
create a method which will show all the info of a person
'''

'\ncreate a class called person\nattributes=>name,age,city,..(make use of defult parameters also)\ncreate a method which will show all the info of a person\n'

In [ ]:
class

In [43]:
class person():
    def __init__ (self,n,a=25): # init method
        self.name=n
        self.age=a

    def info(self):
       print ('name',self.name)
       print('age',self.age)

In [44]:
import tkinter as tk

In [1]:
top=tk.Tk()

top.title('my application')
top.geometry('500*400')

top.mainloop()

NameError: name 'tk' is not defined